<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Create member</title>
</head>

<body>
    <div th:align="center">
        <h1>Add new member</h1>
        <form th:action="@{/rest/api/member/save-member}" method="post" th:object="${member}" enctype="multipart/form-data">
            <table cellspacing="10" border="1">
                <tr>
                    <td>Username</td>
                    <td><input th:field="*{username}"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" th:field="*{password}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input th:field="*{email}"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td><input th:field="*{phoneNumber}"></td><br>
            </table>
            <label>Photo: </label>
            <input type="file" name="image" id="image" accept="image/jpeg, image/png, image/jpg">
            <button type="submit">Create</button>
        </form>
    </div>
</body>

</html>