<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Create item</title>
</head>
<body>
    <form th:action="@{/rest/api/items/saveBook}" method="post" th:object="${book}">
        <input type="text" th:field="*{title}" placeholder="Title" />
        <input type="text" th:field="*{author}" placeholder="Author" />
        <input type="text" th:field="*{category}" placeholder="Category" />
        <input type="text" th:fsield="*{publisher}" placeholder="Publisher" />
        <input type="text" th:field="*{price}" placeholder="Price" />
        <input type="date" th:field="*{mfgDate}" placeholder="MfgDate" />

        <button type="submit" value="Submit">Create new book</button>
    </form>
</body>
</html>