<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Home</title>
</head>

<body>
    <h1 th:align="center">Admin</h1>
    <div th:align="center">
        <table th:border="1" cellspacing="10" c>
            <tr>
                <td><a th:href="@{/rest/api/item/create-item}">Add item</a></td>
                <td><a th:href="@{/rest/api/reciept/create-reciept}">Add reciept</a></td>
                <td><a th:href="@{/rest/api/supplier/create-supplier}">Add supplier</a></td>
                <td><a th:href="@{/rest/api/store/create-store}">Add store</a></td>
                <td><a th:href="@{/rest/api/member/create-member}">Add member</a></td>

            </tr>
            <tr>
                <td><a th:href="@{/rest/api/item/items?page=0}">List item</a></td>
                <td></td>
                <td><a th:href="@{/rest/api/supplier/suppliers}">List supplier</a></td>
                <td><a th:href="@{/rest/api/store/stores}">List store</a></td>
                <td><a th:href="@{/rest/api/member/members}">List member</a></td>
            </tr>
        </table>


    </div>
</body>

</html>