<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List supplier</title>
</head>

<body>

    <div th:align="center">
        <h1>List supplier</h1>
        <table cellspacing="10" border="1">
            <tr>
                <td>ID</td>
                <td>Name company</td>
                <td>Address</td>
                <td>Cooperate date</td>
                <td>Option</td>
            </tr>
            <tr th:each="supplier: ${listSupplier}">
                <td>
                    <input th:value="*{supplier.id}" readonly>
                </td>
                <td>
                    <input th:value="*{supplier.company}" readonly>
                </td>
                <td>
                    <input th:value="*{supplier.address}" readonly>
                </td>
                <td>
                    <input th:value="*{supplier.cooperateDate}" readonly>
                </td>
                <td>
                    <a th:href="@{'/rest/api/supplier/suppliers/'+ *{supplier.id}}">Edit</a>
                </td>
            </tr>
        </table>
        </form>
    </div>
</body>

</html>